.home-container {
    padding: 10px;
    font-size: 20px;
    text-align: center;
    width: 100%;
}

.home-card {
    display: flex;
    flex-direction: column-reverse;
    border-radius: 20px;
    background-color:#00285F;
    margin: 0 0 21px;
}

.home-content-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 10px 51px 10px;
}

.home-content-container h1 {
    width: 260px;
    font-size: 1em;
    margin-bottom: 15px;
    color: #fff;
}

.home-content-container p {
    width: 260px;
    color: #fff;
    font-size: 0.6em;
}

.home-image-container {
    padding: 62px 28px 35px;

}

.home-image-container svg {
    width: 100%;
    height: auto;
}

@media (min-width: 576px) {
    .home-container {
        padding: 20px 20px 41px;
        border-radius: 10px;
    }

    .home-card{
        width: 536px;
        height: 365px;
    }

    .home-content-container h1 {
        width: 420px;
        font-size: 36px;
    }

    .home-content-container p {
        width: 420px;
        font-size: 18px;
    }

    .home-image-container{
        padding: 22px 28px 19px;
    }

    .home-image-container svg {
        width: 333px;
    }
}

@media (min-width: 768px) {
    .home-card{
        width: 728px;
        height: 475px;
        padding: 79px 146px 37px 153px;
    }

    .home-content-container h1{
        font-size: 36px;
        margin: 0;
    }
}

@media (min-width: 992px) {
    .home-card {
        padding: 82px 248px 124px;
        width: 952px;
        height: 579px;
        
    }

    .home-content-container{
        padding: 0;
    }

    .home-content-container h1 {
        font-size: 36px;
    }


    .home-image-container{
        width: 455px;
        padding: 0;
    }

    .home-image-container img {
        width: 100%;
    }
}

@media (min-width: 1200px) {
    .home-container{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .home-card {
        padding: 83px 78px;
        width: 979px;
        height: 365px;
        flex-direction: row;
        margin: 0;
    }

    .home-content-container {
        padding: 20px;
        text-align: left;
    }

    .home-image-container {
        display: flex;
        align-items: center;
        padding: 20px;
    }

    .home-image-container svg {
        width: 100%;
    }
}
