@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');


*{
  font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5, h6{
  font-weight: 700;
  margin-bottom: 0;
}

a, a:hover{
  text-decoration: none;
  color: unset;
}

.base-card {
  background-color: #EDEDED;
  border-radius: 10px;
}

@media(min-width: 576px){
  /* .my-4{
    margin: 20px;
    padding: 0;
  } */
}

@media(min-width: 768px){
  .my-4{
    margin: 30px 20px;
  }
}

/* @media(min-width: 1200px){
  .my-4{
    padding: 30px 16px 30px 130px;
    width: 100%;
    margin: 0;
    gap: 30px;
  }
} */